In [ ]:
!pip install simpledbf

In [1]:
import pandas as pd
from simpledbf import Dbf5

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.
PyTables is not installed. No support for HDF output.
SQLalchemy is not installed. No support for SQL output.

In [ ]:
# nejake standardni importy
import os
import sys
import pyreadstat
import pandas as pd
import numpy as np
import re
from statsmodels.stats.weightstats import DescrStatsW
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import scipy
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
# aby grafy byly rozumně čitelné na obrazovce
plt.rcParams['figure.dpi'] = 90
plt.rcParams['axes.titlesize'] = 11
plt.rcParams['figure.figsize'] = 10, 5
#plt.ioff()
import stata_setup
stata_setup.config('/usr/local/stata17', 'be')
from pystata import stata

In [ ]:
root = '/mnt/d/projects/idea/data'

In [1]:
dbf_file = '/mnt/d/projects/idea/data/uchazec/0022MUCH21P.dbf'

The history saving thread hit an unexpected error (DatabaseError('database disk image is malformed')).History will not be written to the database.

In [13]:
dbf = Dbf5('/mnt/d/projects/idea/data/uchazec/0022MUCH21P.dbf')

In [3]:
dbf

In [4]:
dbf.numrec

253584

In [5]:
dbf.fields

[('DeletionFlag', 'C', 1),
 ('RDAT', 'C', 8),
 ('RID', 'C', 5),
 ('ROD_KOD', 'C', 10),
 ('STATB', 'C', 3),
 ('OBECB', 'C', 6),
 ('PSCB', 'C', 5),
 ('STAT', 'C', 3),
 ('ODHL', 'C', 1),
 ('IZOS', 'C', 9),
 ('OBSS', 'C', 8),
 ('RMAT', 'C', 4),
 ('TYP_ST', 'C', 1),
 ('FORMA_ST', 'C', 1),
 ('PROGRAM', 'C', 5),
 ('OBOR1', 'C', 8),
 ('OBOR2', 'C', 8),
 ('OBOR3', 'C', 8),
 ('OBOR4', 'C', 8),
 ('OBOR5', 'C', 8),
 ('APRO1', 'C', 3),
 ('APRO2', 'C', 3),
 ('APRO3', 'C', 3),
 ('DAT_REG', 'C', 8),
 ('VYPR', 'C', 2),
 ('DAT_VYPR', 'C', 8),
 ('ZAPS', 'C', 2),
 ('DAT_ZAPS', 'C', 8),
 ('CHYV', 'C', 35),
 ('\r', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0),
 ('', '\x00', 0)]

In [6]:
df = dbf.to_dataframe()

In [7]:
df

Empty DataFrame
Columns: [RDAT, RID, ROD_KOD, STATB, OBECB, PSCB, STAT, ODHL, IZOS, OBSS, RMAT, TYP_ST, FORMA_ST, PROGRAM, OBOR1, OBOR2, OBOR3, OBOR4, OBOR5, APRO1, APRO2, APRO3, DAT_REG, VYPR, DAT_VYPR, ZAPS, DAT_ZAPS, CHYV,
, , , , , , , ]
Index: []

[0 rows x 36 columns]

In [ ]:
!ls /mnt/d/projects/idea/data/uchazec/

In [ ]:
!pip install dbf

In [2]:
import dbf

In [3]:
foo = dbf.Table(dbf_file)

In [4]:
foo

dbf.Table('/mnt/d/projects/idea/data/uchazec/0022MUCH21P.dbf', status=<DbfStatus.CLOSED: 0>)

In [5]:
with dbf.Table(dbf_file) as table:
    dbf.export(table, '/mnt/d/projects/idea/data/uchazec/0022MUCH21P.csv')

In [7]:
import pandas as pd

In [9]:
df = pd.read_csv('/mnt/d/projects/idea/data/uchazec/0022MUCH17P.csv', encoding='cp1250')

/tmp/ipykernel_1174/2226496602.py:1: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/mnt/d/projects/idea/data/uchazec/0022MUCH17P.csv', encoding='cp1250')

In [10]:
df.head()

,RDAT,RID,ROD_KOD,STATB,OBECB,PSCB,STAT,ODHL,IZOS,OBSS,...,OBOR5,APRO1,APRO2,APRO3,DAT_REG,VYPR,DAT_VYPR,ZAPS,DAT_ZAPS,CHYV
0,20171031,78900,,840,,,840,2,999999840,,...,,,,,3042017,10,03042017,2,31102017,00 01 1 00000 0000000
1,20171031,78900,,368,,,368,2,999999368,,...,,,,,9052017,10,09052017,2,31102017,00 01 1 00000 0000000
2,20171031,15110,000101,112,,,112,2,999999112,,...,,,,,22022017,20,15062017,0,,00 0 0 0000000 0000 0 0
3,20171031,15110,000101,112,,,112,2,999999112,,...,,,,,22022017,20,15062017,0,,00 0 0 0000000 0000 0 0
4,20171031,14110,000101,112,,23104,112,9,999999112,,...,,,,,13022017,20,20062017,0,,00 0 0 0000000 0000 0 0

In [11]:
df.columns

Index(['RDAT', 'RID', 'ROD_KOD', 'STATB', 'OBECB', 'PSCB', 'STAT', 'ODHL',
       'IZOS', 'OBSS', 'RMAT', 'TYP_ST', 'FORMA_ST', 'PROGRAM', 'OBOR1',
       'OBOR2', 'OBOR3', 'OBOR4', 'OBOR5', 'APRO1', 'APRO2', 'APRO3',
       'DAT_REG', 'VYPR', 'DAT_VYPR', 'ZAPS', 'DAT_ZAPS', 'CHYV'],
      dtype='object')

In [12]:
df.shape

(253584, 28)

In [13]:
df[:1000].to_csv('temp/uchazec.csv')

In [8]:
foo

NameError: name 'foo' is not defined

In [ ]:
df,